.logo {
  width: 100px;
  height: auto;
}

body {
  background-color: #000;
  color: #fff;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.banner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.banner img {
  width: 100%;
  height: auto;
  display: block;
}
